<!DOCTYPE html>
<html>

<head>
    <title>{{ station_name }} 정보</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>{{ station_name }} 정보 <a href="/stations/">뒤로가기</a> </h1>
    <form method="POST">
        <input type="hidden" name="favorite_item" value="{{ station_name }}">
        <button type="submit" name="save">저장</button>
    </form>
    <p>확인할 정보를 골라주세요</p>
    <form method="POST">
        <input type="submit" name="category" value="물품보관함">
        <input type="submit" name="category" value="편의시설">
        <input type="submit" name="category" value="화장실">
        <input type="submit" name="category" value="혼잡도">
    </form>
    <p>정보</p>
    {% if informations %}
    <table border="1">
        <thead>
            {% for column in columns %}
            <td>{{ column }}</td>
            {% endfor %}
        </thead>
        <tbody>
            {% for information in informations %}
            <tr>
                {% for data in information %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results found</p>
    {% endif %}
</body>

</html>