<!DOCTYPE html>
<html>

<head>
    <title>서울시 지하철</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>서울시 지하철 정보</h1>
    <p> 원하는 역을 선택해주세요 </p>
    <form method="POST">
        <input type="text" name="name">
        <input type="submit" value="검색">
    </form>
    <p> 검색 결과 </p>
    <ul>
        {% for station in stations %}
        <li>
            <a href="/stations/{{ station[0] }}/">{{ station[0] }}</a>
        </li>
        {% else %}
        <li>No results found</li>
        {% endfor %}
    </ul>
    <p> 즐겨찾기 목록 </p>
    <ul>
        {% for list in lists %}
        <li style="display: flex; align-items: center;">
            <a href="/stations/{{ list[0] }}/">{{ list[0] }}</a>
            <form method="POST" style="margin-left: 10px;">
                <input type="hidden" name="station_name" value="{{ list[0] }}">
                <button type="submit" name="del" style="padding: 2px 5px;">삭제</button>
            </form>
        </li>
        {% else %}
        <li>즐겨찾기 목록이 없습니다</li>
        {% endfor %}
    </ul>
</body>

</html>